doctype html
include includes/head.html
body.mw8.center.ph2.avenir
  #app
  footer.tc.o-60
    p
      | Built by&#32;
      a(href="https://haroen.me") Haroen Viaene
      | &#32;for&#32;
      a(href="https://www.algolia.com") Algolia
      | &#32;with&#32;
      a(href="https://github.com/algolia/algoliasearch-client-js") Algolia search
      | ,&#32;
      a(href="https://vuejs.org") Vue 2
      | &#32;and&#32;
      a(href="http://tachyons.io") Tachyons
      | . Code available on&#32;
      a(href="https://github.com/Haroenv/algolia-technical-test") GitHub
      |.
  script(src='build.js')
